.canvas{
    text-align: center;
}
span{
    display: block;
    margin: 12px;
}
.button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}
#red{
    background: red;
}
#grey{
    background: grey;
}
.reset-button{
    background: white;
    width: 115px;
    height: 22px;
    border: 2px solid black;
    text-align: center;
    margin-left: 45%;
    margin-top: 8%;
    border-radius: 10px;
    cursor: pointer;
}